# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks

# the mat files for voxel data can be huge
codes/bold-corr-finetune/**/data/*.mat

codes/**/expert_after_pretraining
codes/**/expert_after_training
codes/**/expert_before_training
codes/**/naive_after_training
codes/**/naive_before_training
